@charset "UTF-8";
body {
    background: #fff;
    font-family: Montserrat, Arial, sans-serif;
    color: #212121;
}

.card-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.messy-login-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 50px;
}

.messy-login-card .messy-login-header {
    background-color: transparent;
    text-align: center;
    padding: 2rem 1.25rem 0.75rem 1.25rem;
    border-bottom: 0;
}

.messy-login-card .messy-login-header .messy-logo {
    height: 80px;
}

.messy-login-card input {
    border: 0;
    height: 50px;
    font-size: 18px;
}

.messy-login-card input::not[type=checkbox] {
    border: 0;
    height: 50px;
    font-size: 18px;
}

.messy-login-card input[type=checkbox] {
    cursor: pointer;
    height: auto;
}

.messy-login-card .form-group {
    display: block;
    margin-right: 45px;
    margin-left: 45px;
}

.messy-login-card .form-group.label {
    margin-bottom: 0;
}

.messy-login-card .form-group .form-input.error {
    border-color: #f44336;
}

.messy-login-card .form-group .col-form-label {
    font-size: 18px;
    font-weight: 700;
    color: #306E8D;
}

.messy-login-card .form-group .form-input {
    border: 3px solid #B9D2DE;
    border-radius: 5px;
    padding: 0;
}

.messy-login-card .form-group .form-input .invalid-feedback {
    background: #f44336;
    padding: 4px 14px 0 14px;
    color: #fff;
    margin: 0 -1px 0 0;
}

.messy-login-card .form-group.terms input[type=checkbox] {
    height: 28px;
    width: 14px;
    margin: 0 .5rem 0 0;
}

.messy-login-card .form-group.terms label {
    width: calc(100% - 30px);
    line-height: 1;
}

.messy-login-card .form-group.submit {
    padding: 0 0 2rem 0;
}

.messy-login-card .form-group.submit a.btn,
.messy-login-card .form-group.submit button[type=submit] {
    background: #5DA2C4;
    color: #fff;
    border: 0;
    font-weight: bold;
    width: calc(100% - 210px);
    height: 50px;
    font-size: 18px;
}

.messy-login-card .form-group.submit a.btn {
    background: #ADC3CE;
    width: 200px;
    line-height: 40px;
    margin: 0 5px 0 0;
}


/* Messy Front Page */

.messy-fp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.messy-fp .messy-header {
    padding: 20px 20px 0 20px;
}

.messy-fp .messy-header .logo-pane {
    position: relative;
}

.messy-fp .messy-header .logo-pane img {
    height: 100px;
}

.messy-fp .messy-header .account-pane {
    text-align: right;
    position: relative;
}

.messy-fp .messy-header .account-pane .account-details {
    width: calc(100% - 56px);
    padding: 35px 20px;
}

.messy-fp .messy-header .account-pane .account-details .account-name h4 {
    font-weight: bold;
    color: #212121;
    margin-bottom: 0px;
}

.messy-fp .messy-header .account-pane .account-icon {
    width: 50px;
    padding: 30px 0;
    cursor: pointer;
}

.messy-fp .messy-header .account-pane .account-icon:after {
    display: none;
}

.messy-fp .messy-header .account-pane .account-icon img {
    width: 100%;
    border-radius: 100px;
    background: #f1f2f3;
}

.messy-fp .messy-header .account-pane .account-dropdown {
    position: absolute;
}

.messy-fp-content {
    margin: 150px 0 20px 0;
}

.messy-fp-content .messy-branch {
    padding: 50px 20px;
    text-align: center;
}

.messy-fp-content .messy-branch .messy-branch-title span {
    font-size: 32px;
    font-weight: 900;
    color: #212121;
}

.messy-fp-content .messy-navigation {
    position: relative;
    margin: 20px 0 0 0;
}

.messy-fp-content .messy-navigation .messy-nav-item {
    background: #2D9DD5;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.messy-fp-content .messy-navigation .messy-nav-item:hover {
    background: #0E7DB4;
}

.messy-fp-content .messy-navigation .messy-nav-item h3 {
    font-weight: bold;
    padding: 150px 20px 20px 20px;
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 3;
    margin: 0;
    color: #fff;
}

.messy-fp-content .messy-navigation .messy-nav-item img {
    position: absolute;
    top: -25px;
    right: -25px;
    height: 250px;
    transform: rotate(-30deg);
    z-index: 2;
    opacity: 0.5;
    transition: all .2s ease;
}

.messy-fp-content .messy-navigation .messy-nav-item:hover img {
    right: -30px;
}


/* Messy Profile */

.messy-profile {
    margin: 50px 0;
}

.messy-profile .back-btn {
    padding: 10px 15px;
    font-size: 24px;
    text-align: left;
    border: 0;
    background: transparent;
    color: #212121;
}

.messy-profile .card {
    background: transparent;
    padding: 0;
    border: 0;
}

.messy-profile .card .card-header {
    background: transparent;
    border-bottom: 0;
    padding: 10px 15px;
}

.messy-profile .card .card-header h2 {
    font-weight: 900;
    font-size: 3rem;
}

.messy-profile .messy-account-photo {
    position: relative;
}

.messy-profile .messy-account-photo .account-photo {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    background: #f1f2f3;
    border-radius: 100px;
}

.messy-profile .messy-account-photo img {
    border-radius: 100px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.messy-profile .messy-account-photo .editPhoto {
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: #2D9DD5;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.messy-profile .messy-account-details {
    margin: 50px 0;
}

.messy-profile .messy-account-details .title h4 {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.messy-profile .messy-account-details .form-group {
    position: relative;
    margin: 20px 0;
}

.messy-profile .messy-account-details .form-group span {
    display: block;
    font-weight: bold;
}

.messy-profile .messy-account-details .form-group input[type=text] {
    background: transparent;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 0;
}

.messy-profile .messy-account-details .form-group .confirmbtn {}

.messy-profile .card .edit-profile-btn {
    border-radius: 20px;
}

.messy-profile .card .edit-profile-btn a {
    background: #2D9DD5;
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    font-size: 16px;
}

.messy-profile .card .edit-profile-btn a:hover {
    color: #fff;
}


/* Messy Transact - Navigation (Top) */

.messy-transaction .messy-top-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 144px;
    background: #f2994a;
    width: 100%;
    z-index: 7;
}

.messy-transaction .messy-top-nav .messy-t-nav {
    padding: 50px 0px 20px 0px;
    text-align: center;
    width: 100%;
    position: relative;
}

.messy-transaction .messy-top-nav .messy-t-nav .col {
	vertical-align: top;
}

.messy-transaction .messy-top-nav .messy-t-nav .col.left {
    text-align: left;
}

.messy-transaction .messy-top-nav .messy-t-nav .col .back-btn {
    border: 0;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 0 0 0 0;
}

.messy-transaction .messy-top-nav .messy-t-nav .col .back-btn:hover {
    background: rgba(0,0,0,0.15);
}

.messy-transaction .messy-top-nav .messy-t-nav .title {
    font-weight: bold;
    font-size: 28px;
    padding: 5px 5px 5px 20px;
    margin: 0 10px;
    color: #fff;
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 2px;
    left: 50px;
}
.messy-transaction .messy-top-nav .messy-t-nav .row { 
	display: block;
}

.messy-transaction .messy-top-nav .messy-t-nav .col.mid {
    text-align: left;
}

.messy-transaction .messy-top-nav .messy-t-nav .col.right {
    text-align: right;
}

.messy-transaction .messy-top-nav .messy-t-nav .col .cart-item-count {
    height: 50px;
    width: 50px;
}

.messy-transaction .messy-top-nav .messy-nav-pills {
	display: block;
	margin: 0 20px 0 20px;
}

.messy-transaction .messy-top-nav .messy-nav-pills ul {
	overflow-x: auto;
}

.messy-transaction .messy-top-nav .messy-nav-pills li {
	width: 25%;
    display: inline-block;
}

.messy-transaction .messy-top-nav .messy-nav-pills li a {
	padding: 10px 0;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	text-decoration: none;
	display: block;
	transition: all .2s ease;
	border-bottom: 3px solid transparent;
}

.messy-transaction .messy-top-nav .messy-nav-pills li a.active{
	border-color: #fff;
	background: transparent;
	border-radius: 0; 
	color: #fff;
}

/* Messy Transaction - Body */
.messy-transaction {
	margin: 150px 0 100px 0;
}

/* Messy Transaction - Products List */
.messy-shop {
	position: relative;
}
.messy-shop .tab-content {
	width: 100%;
}
.messy-shop .messy-product-item {
	position: relative;
	height: 200px;
	width: 100%;
	background: #f2994a; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to top, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to top, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	border-radius: 20px;
  	overflow: hidden;
  	padding: 20px;
	margin-bottom: 10px;
}
.messy-shop .messy-product-item .messy-product-image {
	position: absolute;
	z-index: 3;
	width: 250px;
	text-align: center;
	margin: 0 auto;
	top: 20px;
	right: -70px;
}
.messy-shop .messy-product-item .messy-product-image img {
	width: 100%;
}
.messy-shop .messy-product-item .messy-product-name {
	position: relative;
	z-index: 5;
}
.messy-shop .messy-product-item .messy-product-name h4 {
	font-weight: bold;
	width: 70%;
	font-size: 24px;
	color: rgba(0,0,0,0.7);
	z-index: 2;
}
.messy-shop .messy-product-item .messy-product-price h4 {
	font-size: 18px;
}
.messy-shop .messy-product-item .messy-product-add {
	height: 50px;
	width: 50px;
	background: #4CC591;
	border-radius: 50px;
	display: block;
	position: absolute;
	bottom: -50px;
	right: 10px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	z-index: 3;
	cursor: pointer;
	color: #fff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05), 0 0px 0px rgba(0, 0, 0, 0.05);
    transition: all .2s ease;
}
.messy-shop .messy-product-item:hover .messy-product-add {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
	bottom: 10px;
	right: 10px;
}
.messy-shop .messy-product-item .productModal {
    position: relative;
}
.messy-shop .messy-product-item .productModal .modal .modal-content {
    border-radius: 20px;
}
.messy-shop .messy-product-item .productModal .modal .modal-content .modal-actions {
    position: relative;
}
.messy-shop .messy-product-item .productModal .modal-actions a[data-dismiss=modal] {
    padding: 20px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    background: transparent;
    transition: all .2s ease;
    width: 65px;
    text-align: center;
}
.messy-shop .messy-product-item .productModal .modal-actions a[data-dismiss=modal]:hover {
    background: rgba(0,0,0,0.15);
}
.messy-shop .messy-product-item .productModal .modal-image {
    text-align: center;
    margin: 10px 0;
}
.messy-shop .messy-product-item .productModal .modal-image img {
    height: 250px;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details {
    margin: 10px 0;
    padding: 0 20px;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-title {
    padding: 20px 0 5px 0;
    margin: 0;
    text-align: center;
    font-weight: 900;
    color: #212121;
    font-size: 24px;
    text-align: center;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-price {
    text-align: center;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-size {
    margin: 20px 0;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-size h6 {
    font-weight: bold;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-size .size-group {
    display: inline-block;
    margin-right: 10px;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-size .size-group label {
    padding: 15px;
    background: rgba(0,0,0,0.15);
    border-radius: 15px;
    min-width: 53px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.messy-shop .messy-product-item .productModal .modal-content .modal-details .product-size .size-group input:checked ~ .sizeSelect {
    background: #2D9DD5;
    color: #fff;
}

/* Messy Shopping Cart */
.messy-shopping-cart, .messy-scan {
    position: fixed;
    bottom: -100%;
    left: 0;
    z-index: 8;
    height: 100%;
    width: 100%;
    background: #f1f2f3;
    transition: all .25s ease-in-out;
}
.messy-shopping-cart.active, .messy-scan.active {
    bottom: 0;
}
.messy-shopping-cart .container, .messy-scan .container {
    overflow-y: auto;
}
.messy-shopping-cart .row, .messy-scan .row {
    padding: 10px 0;
}
.messy-shopping-cart .cart-title, .messy-scan .cart-title {
    color: #212121;
    font-size: 48px;
    font-weight: 900;
    margin: 50px 0 0 0; 
}
.messy-shopping-cart .cart-checkout {
    margin: 20px;
}
.messy-shopping-cart .cart-checkout .checkout-btn {
    background: #2D9DD5;
    font-weight: bold;
    color: #fff;
    padding: 15px 50px;
    border-radius: 50px;
    border: 0;
    font-size: 20px;
    outline: none;
}

/* Bottom Navigation */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 72px;
    z-index: 9;
}

.bottom-nav .navigation {
    position: relative;
}

.bottom-nav .navigation .nav {
    position: relative;
}
.bottom-nav .navigation .nav li {
    width: 25%;
    text-align: center;
}
.bottom-nav .navigation .nav li a {
    padding: 15px 0;
    opacity: .5;
    transition: all .2s ease;
}
.bottom-nav .navigation .nav li a img {
    width: 24px;
    filter: grayscale(100%);
    transition: all .2s ease;
    margin: 8px;
}
.bottom-nav .navigation .nav li a span {
    font-weight: bold;
    color: #212121;
    font-size: 12px;
    display: block;
    margin-top: 20px;
    transition: all .2s ease;
}
.bottom-nav .navigation .nav li a.active { 
    background: transparent;
    opacity: 1;
}
.bottom-nav .navigation .nav li a.active img {
    filter: grayscale(0%);
    margin: 0;
}
.bottom-nav .navigation .nav li a.active span { 
    color: #f2994a;
    margin-top: 5px;
}


/* Messy Cart */

.messy-cart {
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.messy-cart.active {
    top: 0;
    right: 0;
}

.messy-cart .messy-cart-header {
    text-align: center;
    padding: 30px;
}

.messy-cart .messy-cart-header h1 {
    font-weight: 900;
}

.messy-cart .messy-cart-header .back-icon {
    font-size: 24px;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.messy-cart .messy-cart-header .back-icon i {
    line-height: 40px;
}

.messy-cart .messy-cart-body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0 100px 0;
    max-height: calc(100% - 300px);
}

.messy-cart .messy-cart-body .messy-cart-item {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 20px 40px;
}

.messy-cart .messy-cart-body .messy-cart-item .item-photo {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.messy-cart .messy-cart-body .messy-cart-item .item-photo img {
    width: 100%;
    background: #BFEAFF;
    background-image: linear-gradient(top, #BFEAFF, #2D9DD5);
    background-image: -webkit-linear-gradient(top, #BFEAFF, #2D9DD5);
}

.messy-cart .messy-cart-body .messy-cart-item .item-details {
    display: inline-block;
    width: calc(100% - 232px);
    vertical-align: top;
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-name {
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 900;
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-name #item-name {
    display: block;
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-name #item-stock {
    font-size: 18px;
    font-weight: normal;
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-name #item-stock:before {
    content: 'Stock: ';
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-price {
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 900;
    color: #2D9DD5;
}

.messy-cart .messy-cart-body .messy-cart-item .item-details .item-detail-price:before {
    content: 'PRICE';
    font-size: 16px;
    color: #c1c2c3;
    font-weight: normal;
    display: block;
}

.messy-cart .messy-cart-body .messy-cart-item .item-actions {
    width: 150px;
    vertical-align: top;
    display: inline-block;
}

.messy-cart .messy-cart-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}

.messy-cart .messy-cart-footer .messy-cart-footer-checkout {
    margin: 10px 0 0 0;
    text-align: center;
}

.messy-cart .messy-cart-footer .messy-cart-footer-checkout button {
    background: #2D9DD5;
    font-weight: bold;
    color: #fff;
    padding: 15px 50px;
    border-radius: 50px;
    border: 0;
    font-size: 20px;
    outline: none;
}

.messy-login-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 50px;
}

.messy-login-card .messy-login-header {
    background-color: transparent;
    text-align: center;
    padding: 2rem 1.25rem 0.75rem 1.25rem;
    border-bottom: 0;
}

.messy-login-card .messy-login-header .messy-logo {
    height: 80px;
}

.messy-login-card input {
    border: 0;
    height: 50px;
    font-size: 18px;
}

.messy-login-card input::not[type=checkbox] {
    border: 0;
    height: 50px;
    font-size: 18px;
}

.messy-login-card input[type=checkbox] {
    cursor: pointer;
    height: auto;
}

.messy-login-card .form-group {
    display: block;
    margin-right: 45px;
    margin-left: 45px;
}

.messy-login-card .form-group.label {
    margin-bottom: 0;
}

.messy-login-card .form-group .form-input.error {
    border-color: #f44336;
}

.messy-login-card .form-group .col-form-label {
    font-size: 18px;
    font-weight: 700;
    color: #306E8D;
}

.messy-login-card .form-group .form-input {
    border: 3px solid #B9D2DE;
    border-radius: 5px;
    padding: 0;
}

.messy-login-card .form-group .form-input .invalid-feedback {
    background: #f44336;
    padding: 4px 14px 0 14px;
    color: #fff;
    margin: 0 -1px 0 0;
}

.messy-login-card .form-group.terms input[type=checkbox] {
    height: 28px;
    width: 14px;
    margin: 0 .5rem 0 0;
}

.messy-login-card .form-group.terms label {
    width: calc(100% - 30px);
    line-height: 1;
}

.messy-login-card .form-group.submit {
    padding: 0 0 2rem 0;
}

.messy-login-card .form-group.submit a.btn,
.messy-login-card .form-group.submit button[type=submit] {
    background: #5DA2C4;
    color: #fff;
    border: 0;
    font-weight: bold;
    width: calc(100% - 210px);
    height: 50px;
    font-size: 18px;
}

.messy-login-card .form-group.submit a.btn {
    background: #ADC3CE;
    width: 200px;
    line-height: 40px;
    margin: 0 5px 0 0;
}

/* Messy - Verification */

.messy-verify-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 50px;
    border: 0;
    text-align: center;
    overflow: hidden;
}

.messy-verify-card .card-header {
    background: transparent;
    border-bottom: 0;
}

.messy-verify-card .card-header h1 {
    font-size: 42px;
    color: #5DA2C4;
    font-weight: 900;
    padding: 20px 35px 0px 35px;
}

.messy-verify-card .card-header .email-icon {
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}

.messy-verify-card .card-header .alert {
    position: absolute;
    top: -100%;
    left: 0;
    background: #4CAF50;
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: bold;
    border-radius: 50px;
    padding: 25px 0;
    animation-name: alert-notice;
    animation-duration: 5s;
}

@keyframes alert-notice {
    0% {
        top: -100%;
        visibility: hidden;
    }
    20% {
        top: 0;
        visibility: visible;
    }
    80% {
        top: 0;
        visibility: visible;
    }
    100% {
        top: -100%;
        visibility: hidden;
    }
}

.messy-verify-card .card-body {
    padding: 10px 45px 45px 45px;
}


/* Messy Transactions - Cart */

.messy-t {
    position: relative;
}

.messy-t .messy-t-barcode {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.messy-t .messy-t-barcode .barcode-number {
    display: block;
}

.messy-t .messy-t-barcode .barcode-number input[type=text] {
    font-size: 45px;
    color: #5DA2C4;
    font-weight: 900;
    width: calc(100% - 100px);
    border: 0;
    background: transparent;
    outline: none;
}

.messy-t .messy-t-barcode .barcode-number .barcode-icon {
    opacity: 50%;
    vertical-align: top;
    padding: 10px;
    width: 95px;
    text-align: right;
}

.messy-t .messy-t-barcode .barcode-number .barcode-icon img {
    height: 50px;
}

.messy-t .messy-t-cart {
    padding: 30px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.messy-t .messy-t-cart .messy-t-cart-header {
    margin: 0 0 20px 0;
}

.messy-t .messy-t-cart .messy-t-cart-header h1 {
    font-weight: 900;
    color: #5DA2C4;
}

.messy-t .messy-t-cart .messy-t-cart-items {
    position: relative;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 0;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-photo {
    width: 100px;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-photo img {
    width: 100%;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-details {
    padding: 0 10px;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-details .item-name h3 {
    font-weight: 900;
    color: #212121;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-actions-price {
    text-align: right;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-actions-price .item-price {
    font-weight: bold;
    color: #8E8A8A;
    font-size: 1.575rem;
}

.messy-t .messy-t-cart .messy-t-cart-footer {
    margin: 20px 0 0 0;
}

.messy-t .messy-t-cart .messy-t-cart-footer .total {
    padding: 20px 0;
}

.messy-t .messy-t-cart .messy-t-cart-footer .checkout button {
    padding: 15px 10px;
    font-size: 18px;
    color: #fff;
    background: #2D9DD5;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
    width: 100%;
}

.messy-t .messy-t-total {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 240px;
    background: #2D9DD5;
    text-align: right;
    padding: 20px;
    height: 112px;
    color: #fff;
}

.messy-t .messy-t-total .total .total-title h5 {
    margin: 0;
}

.messy-t .messy-t-total .total .total-price {
    font-size: 32px;
    font-weight: bold;
}

.messy-t {
    position: relative;
}

.messy-t .messy-t-barcode {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.messy-t .messy-t-barcode .barcode-number {
    display: block;
}

.messy-t .messy-t-barcode .barcode-number span {
    font-size: 45px;
    color: #5DA2C4;
    font-weight: 900;
    width: calc(100% - 100px);
}

.messy-t .messy-t-barcode .barcode-number .barcode-icon {
    opacity: 50%;
    vertical-align: top;
    padding: 10px;
    width: 95px;
    text-align: right;
}

.messy-t .messy-t-barcode .barcode-number .barcode-icon img {
    height: 50px;
}

.messy-t .messy-t-cart {
    padding: 30px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.messy-t .messy-t-cart .messy-t-cart-header {
    margin: 0 0 20px 0;
}

.messy-t .messy-t-cart .messy-t-cart-header h1 {
    font-weight: 900;
    color: #5DA2C4;
}

.messy-t .messy-t-cart .messy-t-cart-items {
    position: relative;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 0;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-photo {
    width: 100px;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-photo img {
    width: 100%;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-details {
    padding: 0 10px;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-details .item-name h3 {
    font-weight: 900;
    color: #212121;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-actions-price {
    text-align: right;
}

.messy-t .messy-t-cart .messy-t-cart-items .messy-cart-item .item-actions-price .item-price {
    font-weight: bold;
    color: #8E8A8A;
    font-size: 1.575rem;
}

.messy-t .messy-t-cart .messy-t-cart-footer {
    margin: 20px 0 0 0;
}

.messy-t .messy-t-cart .messy-t-cart-footer .total {
    padding: 20px 0;
}

.messy-t .messy-t-cart .messy-t-cart-footer .checkout button {
    padding: 15px 10px;
    font-size: 18px;
    color: #fff;
    background: #2D9DD5;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
    width: 100%;
}

.messy-t .messy-t-total {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 240px;
    background: #2D9DD5;
    text-align: right;
    padding: 20px;
    height: 112px;
    color: #fff;
}

.messy-t .messy-t-total .total .total-title h5 {
    margin: 0;
}

.messy-t .messy-t-total .total .total-price {
    font-size: 32px;
    font-weight: bold;
}

/* Messy Transactions - Account */

.messy-account {
    position: relative;
}

.messy-account .messy-account-header {}

.messy-account .messy-account-header .messy-account-details {
    background: white;
    border-radius: 100px;
    padding: 10px;
}

.messy-account .messy-account-header .messy-account-details .account-photo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 10px 0 0;
}

.messy-account .messy-account-header .messy-account-details .account-photo img {
    width: 100%;
}

.messy-account .messy-account-header .messy-account-details .account-details h5 {
    text-transform: lowercase;
    margin: 0 0 5px 0;
}

.messy-account .messy-account-header .messy-account-details .account-details h4 {
    font-weight: bold;
    margin: 0;
}


/* Extra small devices (portrait phones, less than 576px) */


/* No media query since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /* Messy Transactions - Sidebar */
    .messy-t .messy-t-barcode {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
    .messy-t-total {
        display: block;
    }
}

.col-3 {
    background: white;
}