@charset "UTF-8";
body {
    background: #2D9DD5 url('../img/wb-background.svg') center;
    font-family: Montserrat, Arial, sans-serif;
    color: #141414;
}

.main-content {
	margin: 200px 0 0 0;
}
.card-shadow, .card-shadow-hover:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 0px 0px, rgba(0, 0, 0, 0.14) 0px 2px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 0px 0px;
}

.welcome-header {
	position: relative;
	display: block;
	height: 200px;
}
.welcome-header .header-logo {
	height: 60px;
	text-align: center;
}
.welcome-header .header-logo img {
	height: 100%;
}
.welcome-header .header-title {
	font-weight: 900;
	font-family: 'Poppins', Montserrat, Arial, sans-serif;
	font-size: 3em;
	margin: 50px 0 5px 0;
	color: #fff;
}
.welcome-header .header-subtitle {
	color: #fff;
	margin: 0 0 50px 0;
}
.welcome-login { 
	margin: 50px 0 50px 0;
}
.welcome-login .login-btn {
	 display: block;
	 margin: 0 100px 20px 100px;
}
.welcome-login .login-btn a {
	display: block;
	margin: 0 auto;
	background: #FFCB77;
	border-radius: 20px;
	border: 0;
	color: #212121; 
	font-weight: 900;
	padding: 15px 50px;
	font-size: 24px;
	text-align: left;
	position: relative;
	max-width: 500px;
}
.welcome-login .login-btn a i {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
	border-radius: 20px;
	display: block;
	background: rgba(0,0,0,0.10);
	text-align:center;
	line-height: 50px;
}

/* Form */
.form {
	position: fixed;
	bottom: -100%;
	left: 50%;
	width: 100%;
	transition: bottom .5s ease;
}
.form.show, .form.with-error {
	bottom: 50%;
}
.form .card {
	transform: translate(-50%, 0%);
	height: 500px;
	max-width: 500px;
	border: 0;
	border-radius: 20px;
}
.form.show .card, .form.with-error .card {
	transform: translate(-50%, 50%);
}
.form .card .card-header {
	padding: 50px 50px 15px 50px;
	background: transparent;
	border-bottom: 0;
}
.form .card .card-header .card-nav-back {
	vertical-align: top;
	padding: 10px;
	font-size: 24px; 
	display: inline-block;
	height: 42px;
	width: 42px;
	margin: 0 20px 0 0;
	transition: all .2s ease;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
}
.form .card .card-header .card-nav-back:hover {
	background: rgba(0,0,0,0.15);
}
.form .card .card-header .header-title {
	margin: 0;
	font-weight: 900;
	display: inline-block;
}
.form .card .card-body {
	padding: 25px 50px 75px 50px;
}
.form .card .card-body .form-group {
	margin: 0 0 30px 0;
	display: block;
}
.form .card .card-body .form-group input[type=email],
.form .card .card-body .form-group input[type=password] {
	border: 3px solid rgba(0,0,0,0.15);
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	font-size: 18px;
	outline: none;
	height: auto;
}
.form .card .card-body .form-group input[type=email].is-invalid,
.form .card .card-body .form-group input[type=password].is-invalid {
	border-color: #f03434;
}
.form .card .card-body .form-group input[type=checkbox] {
	margin: 0 0 20px 0;
}
.form .card .card-body .form-group input:focus {
	border-color: #2D9DD5;
}
.form .card .card-body .form-group input[type=checkbox] ~ label {
	font-weight: bold;
	color: #b1b2b3;
	cursor: pointer;
	position: relative;
	vertical-align: top;
}
.form .card .card-body .form-group input[type=checkbox] ~ label:before {
	content: '';
	height: 24px;
	width: 24px;
	margin: 0 20px 0 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.15);
	transition: all .2s ease;
	display: inline-block;
	vertical-align: top;
}
.form .card .card-body .form-group input[type=checkbox]:checked ~ label:before {
	content: '\f00c';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	background: #288DBF;
	text-align: center;
	color: #fff;
}
.form .card .card-body .form-group button[type=submit] {
	padding: 20px;
	display: block;
	width: 100%;
	background: #288DBF;
	font-weight: bold;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	border: 0;
}

/* Form Animation */
.form.showm {
	animation: slideForm .35s;
}

@keyframes slideForm {
	from {
		bottom: -100%;
	}
	to {
		bottom: 50%;
	}
}

/* Web Sizing Styling */
@media screen and (max-width: 375px) {

	/* Form */
	.form.show, .form.with-error {
		left: 0;
		bottom: 0;
	}
	.form .card, .form.show .card, .form.with-error .card {
		transform: translate(0,0);
		border-radius: 20px 20px 0 0;
	}

}